{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe! 
{% endblock %}

{% block body %}

{{ form_start(requestForm) }}
{{ form_row(requestForm.email) }}
<button type="submit">Demander la réinitialisation</button>
{{ form_end(requestForm) }}


{% endblock %}