{% extends 'base.html.twig' %}

{% block title %}Cave à idées !
{% endblock %}

{% block body %}
	<h1>Bienvenue dans ta cave à idées !</h1>

	{% include 'memory/_form.html.twig' %}
	<ul>
		{% for donnee in donnees %}
			<li>
				<h2>{{ donnee.title }}</h2>

				<div>{{donnee.description}}</div>
			</li>
		{% endfor %}
	</ul>


{% endblock %}
